header {
  margin: 50px 5% 25px 5%;
}

#filter {
  margin: 0px 5% 25px 5%;

  ul, li {
    list-style: none;
    margin:0;
    padding:0;
  }

  li {
    white-space: nowrap;
    display: inline-block;
    padding: 3px 3px 3px 5px;
    border-radius: 12px;
    background: $accent-color;
    border: 1px solid $accent-color;
    color: white;
    font-size:0.8em;
    margin: 0 2px 4px 0;
    span {
      color: $accent-color;
      background: white;
      border-radius: 12px;
      display: inline-block;
      padding: 0 0 0 5px;
    }
    &:hover {
      cursor: pointer;
      background:white;
      color: $accent-color;
      span {
        background: $light-color;
        color: white;
      }
    }
  }
}

main {
  margin: 0px 5% 25px 5%;

  ul, li {
    list-style: none;
    margin:0;
    padding:0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    li {
      display: flex;
      background-size: cover;
      box-shadow: inset 0 0 0 2000px rgba(11, 93, 207, 0.3);
      padding: 10px;
      max-width: 100%;
      width: 400px;
      height: 200px;
      a {
        display: inline-block;
        align-self: flex-end;
        text-decoration: none;
      }
      p {
        color: black;
        display: none;
        background:white;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        padding: 3px 4px;
        &.empty {
          opacity: 0;
        }
      }
      &:hover {
        cursor: pointer;
        box-shadow: inset 0 0 0 2000px rgba(11, 93, 207, 0);
        p {
          display:inline;
        }
      }
    }
  }

  h2, time {
    color: white;
    background: $accent-color;
    padding: 3px 4px;
    display:inline;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    font-style: italic;
    font-weight: 600;
    font-size:1.25em;
  }

  time {
    font-weight:normal;
    font-style: normal;
    font-size: 1em;
  }
}